.header{
  height: 700px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}
.brand{
  width: 77px;
  height: 49px;
}
.info{
  padding: 50px;
  margin: 200px;
}
